body{
    background-color: #E3E7E8;
    font: sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 25px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.column {
    padding: 20px;
    background-color: #009dff;
}

.item {
    background: #a523e1;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

form {
    display: grid;
    grid-gap: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 5px;
}